PORT=3000
MONGO_URL=mongodb://localhost:27017
MONGO_DATABASE=user_activity
KAFKA_BROKERS=localhost:19092
KAFKA_CLIENT_ID=user-activity-service
KAFKA_GROUP_ID=user-activity-consumers
KAFKA_TOPIC=user-activity
KAFKA_ENABLED=true
